.div-positif {
    margin-top: 10rem;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-left: 10rem;
    display: block;
}

html {
    scroll-behavior: smooth;
}

.kasus {
    display: grid;
    grid-template-columns: 50% 50%;
    /* padding: 1em 1em; */
    /* margin-left: 20rem; */
}

.div-meninggal {
    margin-top: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: block;
}

li {
    font-size: 1.20rem;
}

p {
    text-align: center;
    font-size: 20px;
}

.title-data {
    margin-top: 3rem;
    text-align: center;
    margin-left: -5rem;
    margin-bottom: 4rem;
    font-size: 2.20rem;
}